.MovieCardArea {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    margin-bottom: 50px;

    .MovieCard {
        width: 100%;
        max-width: 800px;

        transition: all ease-in-out 0.3s;

        &:hover {
            transform: scale(1.02);
            cursor: pointer;
        }

        .MovieCard__post {
            width: 100%;
            height: 280px;

            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .MovieCard__content {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            color: white;

            background-color: #505050;

            text-align: center;
            padding: 20px;

            p {
                margin-top: 30px;
            }
        }
    }
}